body {
  margin: 10px;
  background-image: url(./images/sci_fi_tunnel.jpg);
  font-family: 'Poppins', sans-serif;
  
}

h1 {
  color:rgb(18, 236, 15)
}
h2 {
  color:rgb(230, 11, 11)
}
h3 {
  color:rgb(230, 11, 11)
}
ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 10px; 
  margin: 10px; 
}
.show-poster{
  width: 300px;
  height: 500px;
  border: 1px solid black;
  border-width: 10px 10px;

}
#filterBtn {
  font-size: 16px;
  width: 100px;
  height: 50px;
  background: rgb(21, 46, 236);
  border-radius: 80px / 40px;
  border: 2px solid white;
}

#filterBtn.active {
  background-color: rgb(21, 46, 236);
  color: white;
}
#reset {
  border: none;
  outline: none;
  padding: 10px 10px;
  background-color: rgb(231, 242, 10);
  cursor: pointer;
}
#reset:hover {
  background-color: rgb(193, 42, 8);
}
a:hover {
  color: rgb(225, 13, 200);
}
